<h1>Tasks</h1>

<div class="task-container">
  <!-- New Tasks Column -->
  <div class="task-column">
    <h2>New</h2>
    <div cdkDropList
         #newList="cdkDropList"
         id="newList"
         [cdkDropListData]="(newTasks$ | async)!"
         [cdkDropListConnectedTo]="[inProgressList, completedList]"
         (cdkDropListDropped)="onTaskDrop($event)"
         class="task-list">
      @for (task of (newTasks$ | async); track $index) {
      <div cdkDrag
           class="task-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ task.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ task.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button
                    color="warn"
                    class="fab-button"
                    (click)="deleteTask(task.id!)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      }

      @if((newTasks$ | async)!.length === 0) {
      <button mat-icon-button
              color="primary"
              class="fab-button"
              (click)="openTaskForm()">
        <mat-icon>add</mat-icon>
      </button>
      }


    </div>
  </div>

  <!-- In Progress Tasks Column -->
  <div class="task-column">
    <h2>In Progress</h2>
    <div cdkDropList
         #inProgressList="cdkDropList"
         id="inProgressList"
         [cdkDropListData]="(inProgressTasks$ | async)!"
         [cdkDropListConnectedTo]="[newList, completedList]"
         (cdkDropListDropped)="onTaskDrop($event)"
         class="task-list">
      @for (task of (inProgressTasks$ | async); track $index) {
      <div cdkDrag
           class="task-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ task.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ task.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button
                    color="warn"
                    class="fab-button"
                    (click)="deleteTask(task.id!)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      }

    </div>
  </div>

  <!-- Completed Tasks Column -->
  <div class="task-column">
    <h2>Completed</h2>
    <div cdkDropList
         #completedList="cdkDropList"
         id="completedList"
         [cdkDropListData]="(completedTasks$ | async)!"
         [cdkDropListConnectedTo]="[newList, inProgressList]"
         (cdkDropListDropped)="onTaskDrop($event)"
         class="task-list">
      @for (task of (completedTasks$ | async); track $index) {
      <div cdkDrag
           class="task-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ task.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ task.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button
                    color="warn"
                    class="fab-button"
                    (click)="deleteTask(task.id!)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      }
    </div>
  </div>
</div>