<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm"
          (ngSubmit)="onSubmit()">
      <!-- Email Field -->
      <mat-form-field appearance="fill"
                      class="full-width">
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email"
               type="email"
               required />
        <mat-error *ngIf="email?.hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="email?.hasError('email')">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>

      <!-- Password Field -->
      <mat-form-field appearance="fill"
                      class="full-width">
        <mat-label>Password</mat-label>
        <input matInput
               formControlName="password"
               [type]="hidePassword ? 'password' : 'text'"
               required />
        <button type="button"
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword">
          <mat-icon>{{
            hidePassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
        </button>
        <mat-error *ngIf="password?.hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="password?.hasError('minlength')">
          Password must be at least 6 characters.
        </mat-error>
      </mat-form-field>

      <!-- Error Message -->
      @if (errorMessage$ | async) {
      <div class="error-message">
        {{ errorMessage$ | async }}
      </div>
      }


      <!-- Submit Button -->
      <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="loginForm.invalid"
              class="full-width">
        <span *ngIf="!(isLoading$ | async)">Login</span>
        <span *ngIf="(isLoading$ | async)">
          <mat-spinner diameter="20"
                       color="accent"></mat-spinner>
        </span>
      </button>
      <a mat-button
         color="primary"
         routerLink="/auth/sign-up">Signup</a>
    </form>
  </mat-card-content>
</mat-card>