<div class="employees-container">
  @for (employee of employeesList; track employee.id) {
  <mat-card class="employee-card">
    <mat-card-header>
      <mat-card-title>{{ employee.name }}</mat-card-title>
      <mat-card-subtitle>{{ employee.position }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Department:</strong> {{ employee.department }}</p>
      <p><strong>Email:</strong> {{ employee.email }}</p>
      <p><strong>Phone:</strong> {{ employee.phone }}</p>
    </mat-card-content>
    <!-- Edit and Delete Icons -->
    <mat-card-actions *ngIf="isAdmin && !(employee.role==='admin')"
                      class="action-buttons">
      <button mat-icon-button
              (click)="editEmployee(employee.id!)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button
              (click)="deleteEmployee(employee.id!)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  }
</div>